<div ng-controller="CalendarController" id="authorize-div" style="display: block">
	<span>Authorize access to calendar</span>
	<!--Button for the user to click to initiate auth sequence -->
	<button id="authorize-button" ng-click="weekEvents()">
<!-- 	<button id="authorize-button" ng-click=""> -->
	Authorize
	</button>
</div>
<pre id="output"></pre>

<!-- <input class="event-location" type="text" name="event-location"/>

<button class="get-json">Get Souper Data</button>
<div class="weather-hook"></div> -->