@font-face {
  font-family: "Avenir";
  src: url("../../fonts/avenir.ttf") format("truetype"), url("../../fonts/avenir.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Italic";
  src: url("../../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans Extra Bold";
  src: url("../../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans Extra Bold Italic";
  src: url("../../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Semibold";
  src: url("../../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans Semibold Italic";
  src: url("../../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans Light";
  src: url("../../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Light Italic";
  src: url("../../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald Regular";
  src: url("../../fonts/Oswald-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald Bold";
  src: url("../../fonts/Oswald-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Oswald Light";
  src: url("../../fonts/Oswald-Light.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald Stencil";
  src: url("../../fonts/Oswald-Stencil.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue.woff") format("woff"), url("../../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* line 4, ../sass/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 24, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 131, ../sass/helpers/_mixins-and-extends.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 142, ../sass/helpers/_mixins-and-extends.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 160, ../sass/helpers/_mixins-and-extends.scss */
.overlays .iconOverlay {
  position: absolute;
  z-index: 1;
}
/* line 164, ../sass/helpers/_mixins-and-extends.scss */
.overlays .topSpacing {
  top: 3%;
}
/* line 167, ../sass/helpers/_mixins-and-extends.scss */
.overlays .leftSpacing {
  left: 6%;
}

/* line 180, ../sass/helpers/_mixins-and-extends.scss */
.chevron::before {
  color: #fff;
  border-style: solid;
  border-width: 0.20em 0.20em 0 0;
  content: '';
  display: inline-block;
  height: 1em;
  left: 0.15em;
  position: relative;
  top: 0.4em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1em;
  font-family: arial, sans-serif;
  font-size: 15px;
}

/* line 198, ../sass/helpers/_mixins-and-extends.scss */
.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

/* line 203, ../sass/helpers/_mixins-and-extends.scss */
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

/* line 208, ../sass/helpers/_mixins-and-extends.scss */
.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

/**/
/*@import 'partials/element-defaults';*/
/* line 1, ../sass/helpers/_common-assets.scss */
.row {
  clear: both;
  min-height: 10px;
  overflow: hidden;
}

/* line 6, ../sass/helpers/_common-assets.scss */
.col {
  float: left;
}

/* line 9, ../sass/helpers/_common-assets.scss */
.colRight {
  float: right;
}

/**/
/* line 11, ../sass/partials/_calendar.scss */
.calendar .clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 17, ../sass/partials/_calendar.scss */
.calendar .container {
  position: relative;
}
/* line 21, ../sass/partials/_calendar.scss */
.calendar .instantweather {
  font-family: Avenir Next;
  text-align: center;
}
/* line 26, ../sass/partials/_calendar.scss */
.calendar .temperature {
  font-size: 30px;
}
/* line 30, ../sass/partials/_calendar.scss */
.calendar h1 {
  font-family: Avenir Next;
  text-align: center;
}
/* line 35, ../sass/partials/_calendar.scss */
.calendar .dates {
  display: inline-block;
}
/* line 39, ../sass/partials/_calendar.scss */
.calendar .events {
  display: inline-block;
  color: white;
  font-family: Avenir Next;
  font-size: 20px;
  padding-left: 15px;
}
/* line 47, ../sass/partials/_calendar.scss */
.calendar .date {
  color: white;
  font-family: Oswald Bold;
  font-size: 50px;
  padding: 0;
  line-height: 58px;
}
/* line 55, ../sass/partials/_calendar.scss */
.calendar .month {
  color: white;
  font-family: Oswald Bold;
  font-size: 20px;
}
/* line 61, ../sass/partials/_calendar.scss */
.calendar .dayone {
  background-color: #0B87A1;
  color: white;
}
/* line 66, ../sass/partials/_calendar.scss */
.calendar .daytwo {
  background-color: #245468;
}
/* line 69, ../sass/partials/_calendar.scss */
.calendar .daythree {
  background-color: #E7C271;
}
/* line 72, ../sass/partials/_calendar.scss */
.calendar .dayfour {
  background-color: #F2975D;
}
/* line 75, ../sass/partials/_calendar.scss */
.calendar .dayfive {
  background-color: #EA6160;
}
/* line 78, ../sass/partials/_calendar.scss */
.calendar .daysix {
  background-color: #92A8F3;
}
/* line 81, ../sass/partials/_calendar.scss */
.calendar .dayseven {
  background-color: #55CD4F;
}

/* line 11, ../sass/partials/_weather.scss */
.weather .header {
  text-align: center;
}
/* line 15, ../sass/partials/_weather.scss */
.weather h1 {
  font-family: Avenir Next;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 24, ../sass/partials/_weather.scss */
.weather .fa-arrow-circle-right, .weather .fa-arrow-circle-left {
  display: inline-block;
  font-size: 25px;
}
/* line 29, ../sass/partials/_weather.scss */
.weather .todayweather {
  font-family: Avenir Next;
  text-align: center;
}
/* line 34, ../sass/partials/_weather.scss */
.weather .temperature {
  font-size: 30px;
}

/* line 11, ../sass/partials/_weatherdetail.scss */
.weatherdetail .fa-arrow-circle-left {
  display: inline-block;
  font-size: 25px;
}
/* line 16, ../sass/partials/_weatherdetail.scss */
.weatherdetail h1 {
  font-family: Avenir Next;
  display: inline-block;
  font-size: 25px;
}
/* line 22, ../sass/partials/_weatherdetail.scss */
.weatherdetail .weatherdetail {
  font-family: Avenir Next;
}
/* line 26, ../sass/partials/_weatherdetail.scss */
.weatherdetail .event {
  font-family: Avenir Next;
}
