// *
// * WEATHER UI
// *

$module-name: 'weatherdetail';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------
.#{$module-name} {
	.fa-arrow-circle-left{
		display: inline-block;
		font-size: 25px;
	}

	h1{
		font-family: Avenir Next;
		display: inline-block;
		font-size: 25px
	}

	.weatherdetail{
		font-family: Avenir Next;
	}

}


// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {
	.#{$module-name} {
		
	}
}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

@include media-query(tablet) {
	.#{$module-name} {
			
	}
}